.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
BY.LaiBei.Frontend.MWeb.csproj
BY.LaiBei.Frontend.MWeb.csproj.user
Global.asax
Global.asax.cs
Properties/AssemblyInfo.cs
favicon.ico
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BY.LaiBei.Frontend.MWeb.csproj.vspscc
bin/Antlr3.Runtime.dll
bin/EntityFramework.dll
bin/EntityFramework.SqlServer.dll
bin/Microsoft.AspNet.Identity.Core.dll
bin/Microsoft.AspNet.Identity.EntityFramework.dll
bin/Microsoft.AspNet.Identity.Owin.dll
bin/Microsoft.Owin.dll
bin/Microsoft.Owin.Host.SystemWeb.dll
bin/Microsoft.Owin.Security.dll
bin/Microsoft.Owin.Security.Cookies.dll
bin/Microsoft.Owin.Security.Facebook.dll
bin/Microsoft.Owin.Security.Google.dll
bin/Microsoft.Owin.Security.MicrosoftAccount.dll
bin/Microsoft.Owin.Security.OAuth.dll
bin/Microsoft.Owin.Security.Twitter.dll
bin/Microsoft.Web.Infrastructure.dll
bin/Newtonsoft.Json.dll
bin/Owin.dll
bin/System.Web.Helpers.dll
bin/System.Web.Mvc.dll
bin/System.Web.Optimization.dll
bin/System.Web.Razor.dll
bin/System.Web.WebPages.dll
bin/System.Web.WebPages.Deployment.dll
bin/System.Web.WebPages.Razor.dll
bin/WebGrease.dll
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
